.main {
    margin-top: 10rem;
    margin-bottom: 10rem;
}

.span {
    font-size: 6rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
}

.span-title{
    font-size: 6.2rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #F48915;
    letter-spacing: 3px;
}

.stroke-text {
    color: transparent !important;
    font-family: Arial, Helvetica, sans-serif !important;
    -webkit-text-stroke-width: 2px !important;
    -webkit-text-stroke-color: #F48915 !important;
}

p{
    color: #fff;
    font-weight: 400;
}

.hero-image {
    width: 50%;
}

.figures {
    display: flex;
    gap: 2rem;    
}

.figures div{
    display: flex;
    flex-direction: column;
}

.figures div span:nth-of-type(1) {
    color:#fff;
    font-size: 2rem;
}

.figures div span:nth-of-type(2) {
    color: grey;
    text-transform: uppercase;
}

.button-main {
    font-weight: 500;
    text-decoration: none;
    margin-top: 1.2rem;
    margin-bottom: 1.6rem;
    background-color: #F48915;
    padding: .5rem 1rem;
    color: #fff;
    cursor: pointer;
}

.button-main:hover {
    color: #fff !important;
    cursor: pointer;
}

.button-main-two {
    font-weight: 500;
    text-decoration: none;
    margin-top: 1.2rem;
    margin-bottom: 1.6rem;
    background-color: transparent;
    padding: .5rem 1rem;
    color: #fff;
    border: 2px solid #F48915;
}

.button-main-two:hover {
    color: #fff;
    cursor: pointer;
}

.heart-rate {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: #1F2023;
    width: fit-content;
    padding: 1rem;
    align-items: start;
    border-radius: 5px;
    position: absolute;
    right: 4rem;
    top: 7rem;
}

.heart-rate>img{
    width: 2rem;

}

.heart-rate>span:nth-child(2) {
    color: #ccc;
}

.heart-rate>span:nth-child(3) {
    color: #fff;
    font-size: 1.5rem;
}

@media screen and (max-width: 700px) {
    .main {
        margin-top: 3rem !important;
        margin-bottom: 3rem;
    }

    .span {
        font-size: 3rem;
    }
    
    .span-title{
        font-size: 3rem;
    }
    
    .stroke-text {
        -webkit-text-stroke-width: 1px !important;
    }

    .hero-image {
        margin-top: 1rem;
        width: 50%;
    }
    
    .hero_img_back {
        width: 30%;
    }

    
    .figures div span:nth-of-type(1) {
        font-size: 1rem;
        margin-top: .5rem;
    }
    
    
    .button-main {
        font-weight: 500;
        margin-top: auto;
        margin-bottom: auto;
        padding: 0;
    }
    
    .button-main-two {
        font-weight: 500;
        text-decoration: none;
        margin-top: auto;
        margin-bottom: auto;
        padding: 0;
        border: 1px solid #F48915;
    }

    .heart-rate {
        align-items: center;
        position: inherit;

    }
    
    .heart-rate>img{
        width: 1.5rem;
    }
    
    .heart-rate>span:nth-child(2) {
        font-size: .8rem;
    }
    
    .heart-rate>span:nth-child(3) {
        font-size: 1rem;
    }
}